{% extends ':Mails:base.html.twig' %}

{% block subject %}Notificació de prova gratis{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th><img src="..."></th>
        </tr>
        </tbody>
    </table>
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last vertical-padding">
                <table>
                    <tr>
                        <th>
                            <h4>Possible coworker interessat en provar-ho 3 dies</h4>
                            <p class="grey-color">{{ contact.name }}, amb correu elèctrònic <a href="mailto:{{ contact.email }}">{{ contact.email }}</a> {% if contact.phone %}i telèfon {{ contact.phone }} {% endif %}ha emplenat el formulari de prova gratuïta.</p>
                            <p class="grey-color">Bona sort!</p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}
