{% extends ':Frontend:base.html.twig' %}

{% block title %}Sobre me{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Aquest sóc jo...</h1>
                <p>Programador políglota dels llenguatges de programació. Amant de les noves tecnologies, autodidacta de naixement. La meva passió és la programació i el desenvolupament d’aplicacions.
                </p>
            </div>
        </div>
    </div>
{% endblock %}