{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre mí</h2>
                    <hr class="hr-divider-section">
                    <h3 class="section-subheading text-muted">Mil gracias por llegar hasta esta página tan importante para mi.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-arrow-down fa-stack-1x text-primary" aria-hidden="true"></i>
                    </span>
                    <h3 class="service-heading">Yo</h3>
                    <img src="{{ asset('bundles/app/img/wils-about.jpg') }}" alt="wils iglesias" class="img-rounded img-responsive">
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-user fa-stack-1x text-primary" aria-hidden="true"></i>
                    </span>
                    <h3 class="service-heading">¿Quién soy?</h3>
                    <p class="text-muted">Hola! Soy Wils Iglesias, programador web de profesión y amante de las nuevas tecnologías por vocación. Un geek vaya… ;)</p>
                    <p class="text-muted">Me considero una persona activa y autodidacta en constante evolución, características que considero clave tanto personal como profesionalmente.</p>
                    <p class="text-muted">Me apasiona dar rienda suelta a mi curiosidad y a través de mis habilidades poder expresar mis ideas en forma de código, planificar proyectos y ver como éstos crecen y evolucionan hasta hacerse realidad. Esta es mi mayor fuente de satisfacción y motivación para seguir adelante.</p>
                    <p class="text-muted">Si tienes un proyecto web entre manos me gustaría formar parte de tu equipo para ofrecerte mis conocimientos, experiencia y esfuerzo. ¡Hagamos de tu idea un negocio de éxito!
                    </p>
                    <p class="text-muted"><em>Sí, quiero trabajar contigo.</em></p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-code fa-stack-1x text-primary" aria-hidden="true"></i>
                    </span>
                    <h3 class="service-heading">Habilidades</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">PHP
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">Symfony
                            <span class="sr-only">70% Complete (success)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">HTML
                            <span class="sr-only">90% Complete (warning)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">CSS
                            <span class="sr-only">70% Complete (danger)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">JS
                            <span class="sr-only">30% Complete (warning)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
