{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="no-m-top">Créditos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4 extra-m-bottom text-center">
                <i class="fa fa-coffee fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Desenvolupament web</td>
                            <td><a class="c-blue-md" href="http://www.wiglesias.com" target="_blank">Wiglesias</a></td>
                        </tr>
                        <tr>
                            <td>Tecnologías utilizadas</td>
                            <td><a class="c-blue-md" href="http://www.php.net/">PHP</a>, Frameworks <a class="c-blue-md" href="http://symfony.com/">Symfony</a>, <a class="c-blue-md" href="http://getbootstrap.com/">Bootstrap 3</a></td>
                        </tr>
                        <tr>
                            <td>Agradecimiento</td>
                            <td>A <a class="c-blue-md" href="https://github.com/flux">David Romaní</a>, por dedicarme en sus tiempos libres a enseñarme las buenas prácticas sobre la programación y también por la gran paciencia que ha tenido
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
