{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron blue-background">
                <div class="container">
                    <h1>{{ words(1) }}</h1>
                    <h2>{{ words(2) }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}