{% extends ':Frontend:base.html.twig' %}

{% block title %}Portafolio{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            {% for portafolio in portafolios %}
                <h5><a href="#">{{ portafolio.title }}</a></h5>
                <h5>{{ portafolio.date|date("d/m/Y") }}</h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}