<div class="login-logo">
    <div>
        <img src="{{ asset('bundles/app/img/logo-wils-backend.jpg') | imagine_filter('70x70') }}" alt="{{ sonata_admin.adminPool.title }}">
    </div>
    <span>{{ main_brand_title }}</span>
</div>
