// Brand colors
@wi-c-white:      #FFFFFF;
@wi-c-black:      #000000;
@wi-c-blue:       #369ACD;
@wi-c-blue-bg:    #337AB7;
@wi-c-green:      #A1C548;
@wi-c-orange:     #E27436;
@wi-c-violet:     #40315F;
@wi-c-magenta:    #AF1F69;
@wi-c-dark-cyan:  #5E9B9A;
@wi-c-grey:       #808080;
@wi-c-ligth-grey: #EEEEEE;

.c-blue   { color: @wi-c-blue-bg; }
.c-white  { color: @wi-c-white;  }
.c-green  { color: @wi-c-green;  }
.c-orange { color: @wi-c-orange; }
.c-grey   { color: @wi-c-grey;   }

.white-background { background-color: @wi-c-white;      }
.grey-background  { background-color: @wi-c-ligth-grey; }
.black-background { background-color: @wi-c-black;      }
.blue-background { background-color: @wi-c-blue-bg;      }
.green-background-dark  { background-color: darken(@wi-c-green, 15%);  }
.blue-background-light { background-color: lighten(@wi-c-blue-bg, 35%); }
.orange-background { background-color: @wi-c-orange; }
