// Imports
@import "../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "../../../../../vendor/components/font-awesome/less/font-awesome.less";
@import "colors.less";
@import "buttons";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

// Fonts
@icon-font-path: "/bundles/app/fonts/";
@fa-font-path: "/bundles/app/fonts";

// Custom Bootstrap vars
@link-color: @gray-base;

// Custom vars
@wi-s-base: 20px;
@wi-s-base-plus: 60px;
@wi-s-base-minus: 10px;
@gap-extra-big: @gap-big * 2;
@gap-big: @gap-normal * 2;
@gap-normal: 20px;
@gap-small: @gap-normal / 2;
@wi-font-size-base: 16px;
@wi-font-size-large: ceil((@font-size-base * 1.25));
@wi-font-size-small: ceil((@font-size-base * 0.95));

// Custom Navbar
@navbar-height: 64px;
@navbar-default-color: @wi-c-white;
@navbar-default-bg: @wi-c-light-blue-500;
@navbar-default-link-active-bg: @wi-c-white;
@navbar-default-link-hover-bg: @wi-c-white;
@navbar-default-toggle-icon-bar-bg: @wi-c-white;
@navbar-default-toggle-hover-bg: lighten(@wi-c-light-blue-500, 15%);
@navbar-default-toggle-border-color: @wi-c-white;

//@navbar-height: 110px;
@navbar-border-radius: 0;
@navbar-default-link-active-color: @wi-c-light-blue-500;
@navbar-default-link-hover-color: @wi-c-light-blue-500;
@navbar-default-link-color: @wi-c-white;

// Custom btn-default
@btn-default-color: @wi-c-light-blue-500;

// Custom thumbnails
@thumbnail-padding: 0;
//@thumbnail-bg: @wi-c-white;
//@thumbnail-border: @wi-c-white;
@thumbnail-border-radius: 5px;
@thumbnail-caption-padding: @gap-big;

.navbar {
  line-height: 64px;
  margin-bottom: 0;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  .navbar li a:hover {
    background-color: @wi-c-light-blue-500;
  }
}

.navbar-brand-logo {
  padding: 20px 15px;
}

.navbar-brand {
  font-size: 25px;
}

.navbar-logo {
  margin-top: -25px;
}

// Custom Body
body {
  font-family: 'roboto', sans-serif;
  padding-top: 40px;
}

// Custom buttons
.wi-button-mixin(btn-wi, @wi-c-white, @wi-c-light-blue-500);

// Custom anchors
.underlined-anchors {
  a {
    text-decoration: underline;
  }
}

// Custom main container
.container-main {
  min-height: 400px;
  padding-top: 70px;
  padding-bottom: 40px;
}

// Custom margins
.left-margin-negative {
  margin-left: -15px;
  border-right: solid @wi-s-base @wi-c-black;
  @media (max-width: @screen-sm-min) {
    margin-left: 0;
    border-right: none;
  }
}

.no-m {
  margin: 0;
}

.no-m-top {
  margin-top: 0;
}

.no-m-bottom {
  margin-bottom: 0;
}

.extra-m-top {
  margin-top: @wi-s-base-plus;
}

.normal-m-top {
  margin-top: @gap-normal;
}

.extra-m-bottom {
  margin-bottom: @gap-big;
}

.small-m-top {
  margin-top: @gap-small;
}

.small-m-bottom {
  margin-bottom: @gap-small;
}

.normal-m-bottom { margin-bottom: @gap-normal; }

// Custom paddings
.p-vertical {
  padding-top: @gap-big;
  padding-bottom: @gap-big;
}

.p-vertical-small {
  padding-top: @gap-normal;
  padding-bottom: @gap-normal;
}

// Custom alerts
.alert-green {
  .alert-variant(@wi-c-blue-bg; @wi-c-blue-bg; @body-bg);
  @media (max-width: @screen-xs-max) {
    h4 {
      font-size: 1em;
    }
  }
}

.alert-orange {
  .alert-variant(@wi-c-orange; @wi-c-orange; @body-bg);
  @media (max-width: @screen-xs-max) {
    h4 {
      font-size: 1em;
    }
  }
}

.alert-violet {
  .alert-variant(@wi-c-violet; @wi-c-violet; @body-bg);
  @media (max-width: @screen-xs-max) {
    h4 {
      font-size: 1em;
    }
  }
}

.alert-magenta {
  .alert-variant(@wi-c-magenta; @wi-c-magenta; @body-bg);
  @media (max-width: @screen-xs-max) {
    h4 {
      font-size: 1em;
    }
  }
}

.alert-dark-cyan {
  .alert-variant(@wi-c-dark-cyan; @wi-c-dark-cyan; @body-bg);
  @media (max-width: @screen-xs-max) {
    h4 {
      font-size: 1em;
    }
  }
}

.alert {
  h4 {
    font-weight: normal;
    line-height: 1.5;
    white-space: nowrap;
  }
}

// Pagination
ul.pagination {
  li.active {
    span.c-blue-md {
      background-color: @wi-c-light-blue-500;
      border-color: @wi-c-light-blue-500;
    }
  }
}

ul.categories-selector {
  li.active {
    font-weight: bold;
  }
}

// Scroll to top
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 2000;
  background-color: @wi-c-light-blue-500;
  color: @wi-c-white;
  width: 50px;
  height: 50px;
  line-height: 42px;
  right: 15px;
  bottom: 15px;
  padding-top: 2px;
  border-radius: 50%;
  .transition (all 0.5s ease-in-out);
  &.show {
    visibility: visible;
    cursor: pointer;
    opacity: 100;
  }
  i.fa {
    line-height: inherit;
  }
}

// Custom homepage
.main-logo-homepage {
  position: absolute;
  left: 35%;
  top: 135px;
}

// Homepage call to action
div.subtitle-background {
  background-color: rgba(0, 0, 0, 0.65);
  padding: @wi-s-base-minus 0;
  margin-top: -100px;
  z-index: 1000;
  position: relative;
  h2 {
    text-align: right;
    color: @wi-c-white;
    font-size: 18px;
    margin-top: 5px;
  }
  button.btn-wi.btn-lg {
    font-size: 11px;
  }
  @media (min-width: @screen-xs-max) {
    padding: @wi-s-base 0;
    margin-top: -132px;
    h2 {
      font-size: 25px;
    }

    button.btn-wi.btn-lg {
      font-size: 14px;
    }
  }
  @media (min-width: @screen-sm-max) {
    margin-top: -160px;
    h2 {
      font-size: 45px;
    }

    button.btn-wi.btn-lg {
      font-size: 18px;
    }
  }
  p {
    text-align: right;
  }
}

.btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

// Jumbotron
.jumbotron {
  width: 100%;
  min-height: 450px;
  margin: 0 auto 30px;
  padding: 10px 0;
  background: url("/bundles/app/img/background2.jpg") top center no-repeat fixed;
  background-size: 100%;
}

@media screen and (max-width: 1500px) {
  .jumbotron {
    background-size: auto;
  }
}

.jumbotron h1 {
  color: @wi-c-white;
  margin: 10px 0 20px;
  font-size: 2.5em;
  text-align: center;
  text-shadow: @wi-c-black 0 2px 4px;
}

.wrap {
  max-width: 700px;
  margin: auto;
}

.head-wrap {
  margin: 30px auto 30px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-align: center;
}

.tagline {
  display: block;
  padding: 20px 0 0;
  opacity: 0;
  color: @wi-c-white;
  font-weight: 600;
  text-shadow: @wi-c-black 0 1px 3px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.shift-text {
  margin: 80px auto 110px;
}

.shift-text .text-body {
  height: 120px;
}

.shift-text .tagline {
  opacity: 0.9;
}

/* text editor styles */
.text-editor-wrap {
  display: block;
  margin: auto;
  max-width: 530px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 20px 70px;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.title-bar {
  color: @wi-c-black;
  padding: 5px 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0 1px 1px;
  border-bottom: #6a6a6a 1px solid;
}

.text-body {
  height: 250px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  color: #f0f0f0;
  text-shadow: #000 0 1px 0;
  font-family: "Consolas", "Courier New", "Courier";
  font-size: 1.75em;
  line-height: 1.40em;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.h2 {
  margin: 10px 0;
}

.note {
  text-align: center;
}

.inline-code {
  padding: 2px 5px;
  background: @wi-c-white;
  border: #CCC 1px solid;
  border-radius: 4px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: @wi-c-white 1px solid;
  border-top: #f0f0f0 1px solid;
}

pre {
  margin: 0 auto 20px;
  padding: 20px;
  color: #444;
  font-family: "Consolas", "Courier New", "Courier";
  font-weight: 500;
  background: @wi-c-white;
  border: #EEE 1px solid;
  border-radius: 10px;
  overflow: auto;
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn-wrap {
  display: block;
  margin: 0 auto 1em;
  clear: both;
  text-align: center;
}

// Side
.blog-sidebox {
  //background-color: @wi-c-grey;
  margin-top: 0;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.blog-sidebox hr {
  margin: 0;
  border-top: 1px solid @wi-c-white;
}

.blog-sidebox h3 {
  border-bottom: 1px @wi-c-ligth-grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 0 0 10px;
  margin-bottom: 5px;
}

.h3, h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;

}

.sidebox-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 15px 15px;
}

// Footer
footer {
  display: block;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: @wi-c-white;
    &:hover {
      text-decoration: none;
      color: @wi-c-light-blue-500;
    }
  }
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  color: @wi-c-white;
  background-color: @wi-c-blue-grey-800;
  h1 {
    font-size: 16px;
  }
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  padding-top: 10px;
  height: 70px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: @wi-c-blue-grey-900;
}

.light, footer.page-footer {
  font-weight: 300;
}

// Other customizations
.content {
  margin: @wi-s-base-plus 0;
  @media (max-width: @screen-sm-max) {
    margin: @wi-s-base 0;
  }
}

.text-title {
  color: @wi-c-light-blue-500;
}

.under-construction-warning {
  margin: 20px;
}

.social-networks {
  margin: 5px 0;
}

.light-font-weight {
  font-weight: 400;
}

textarea {
  .resizable(vertical);
}

.hr-divider {
  border-top: dotted @wi-c-light-blue-500 2px;
}

.main-title {
  color: @wi-c-light-blue-500;
  font-weight: 500;
}

.main-text-light { font-weight: 300; }

.no-overflow { overflow: hidden; }