/* Colors */
.black-background { background-color: #000000; }
.blue-background { background-color: #03A9F4; }
.white-background { background-color: #FFFFFF; }
.white-color      { color: #FFFFFF; }
.blue-color      { color: #03A9F4; }
.grey-color       { color: #8B8B8B; }

/* Margins */
.vertical-padding { padding: 20px 0; }
.padding-bottom   { padding: 16px 0; }

/* Custom main container */
.container-main {
   min-height: 400px;
   padding-top: 40px;
   padding-bottom: 40px;
}

/* Custom margins */
.left-margin-negative {
   margin-left: 15px;
}
