// Gray and Brand Colors for use across theme

@theme-primary:   #03a9f4;
@theme-black:     #000000;
@theme-white:     #ffffff;
@theme-danger:    #e74c3c;
@theme-orange:    #FF9800;

@gray-base:        #000;
@gray-darker:      lighten(@gray-base, 13.5%); // #222
@gray-dark:        lighten(@gray-base, 20%);   // #333
@gray:             lighten(@gray-base, 33.5%); // #555
@gray-light:       lighten(@gray-base, 46.7%); // #777
@gray-lighter:     lighten(@gray-base, 93.5%); // #eee

// Font Mixins

.serif-font() {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.script-font() {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.body-font() {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading-font() {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
